<app-header></app-header>
<!-- Aunque hagan referencia a componentes, estas
siguien siendo etiquetas HTML y por lo tanto
podemos hacer algo como adicionar el
atributo class para adicionar clases CSS -->
<!-- <app-body class="container"></app-body> -->

<div class="container m-5">
    <app-body></app-body>
</div>

<ul>
    <!-- los simbolos {{ }} se llaman interpolacion
    y se utilizan para adicionar codigo de JS -->
    <li>Nombre {{ nombre }}</li>
    <li>Nombre {{ apellido }}</li>
</ul>

<app-footer></app-footer>
